<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(99127036, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Динозаврик JS</title>
    <link rel="stylesheet" href="/dinogame/static/css/style.css">
</head>
<body>
    {% include "header.html" %}
    <h1>Динозаврик JS</h1>
    <p>Абсолютный рекорд в игре: <strong id="maxHighestScore">{{ max_highest_score }}</strong></p>
    <p>Ваш текущий рекорд: <strong id="highestScore">{{ highest_score }}</strong></p>
    <p>Очки: <span id="scoreCounter">0</span></p>
    <canvas id="gameCanvas" width="800" height="400"></canvas>
    <button id="playAgainButton">Играть ещё раз</button>
    <script src="/dinogame/static/js/game.js"></script>
    <script>
        const email = "{{ email }}";
        let highestScore = {{ highest_score }};
        startGame(email, highestScore);
    </script>

    {% include "footer.html" %}
</body>
</html>