<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начать игру</title>
    <link rel="stylesheet" href="/dinogame/static/css/style.css">
</head>
<body>
    {% include "header.html" %}
    <h1>Добро пожаловать в игру "Динозаврик"</h1>
    <form id="startGameForm" action="/dinogame/start-game/" method="post">
        <label for="email">Введите вашу почту:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Начать игру</button>
    </form>

    <script>
    const form = document.getElementById("startGameForm");

    form.addEventListener("submit", async (event) => {
        event.preventDefault(); // Останавливаем стандартную отправку формы

        const email = document.getElementById("email").value;

        try {
            // Отправляем запрос на сервер
            const response = await fetch("/dinogame/start-game/", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: `email=${encodeURIComponent(email)}`,
            });

            if (!response.ok) {
                // Если ошибка, получаем текст ошибки и показываем его в alert
                const errorData = await response.json();
                alert(errorData.detail || "Ошибка валидации!");
                return;
            }

            // Если всё прошло успешно, перенаправляем на игру
            window.location.href = response.url;
        } catch (error) {
            alert("Произошла ошибка: " + error.message);
        }
    });
</script>
    {% include "footer.html" %}
</body>
</html>